@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

* {
	margin: 0;
	padding: 0;
	font-family: 'Gloria Hallelujah', cursive;
}

html {
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background: url(./assets/bg.jpg) no-repeat bottom center fixed #000;
	background-size: cover;
	z-index: 0;
}

html,
body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

header {
	position: relative;
	z-index: 2;
}

header h1 {
	font-size: 3em;
	color: #2ecc71;
	text-transform: uppercase;
	text-shadow: 3px 3px black;
}

#heading {
	color: #ecf0f1;
}

main {
	z-index: 2;
	position: relative;
	display: flex;
	flex: 3 0px;
}

main img {
	z-index: 10;
	margin: auto;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	cursor: pointer;
}

main p {
	color: white;
	text-shadow: 3px 3px black;
	z-index: 15;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	pointer-events: none;
}

footer h1 {
	font-size: 6em;
	margin-bottom: 0.5em;
	color: #2ecc71;
	text-shadow: 3px 3px black;
	letter-spacing: 0.1em;
}

.center {
	text-align: center;
}

.rotate {
	animation-name: rotate;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 600px) {
	html {
		background: url(./assets/bgMobile.jpg) no-repeat bottom center fixed
			#000;
	}

	header h1 {
		font-size: 1.2em;
	}

	footer h1 {
		font-size: 5em;
	}

	main img {
		width: 180px;
	}

	footer {
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 1930px) {
	main p {
		font-size: 7em;
	}

	header h1 {
		font-size: 8em;
	}

	footer h1 {
		font-size: 5em;
	}
}
